<!DOCTYPE html>
<html lang="en">
<head>
    <title>Status Report</title>

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="app/scripts/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" charset="utf-8"></script>
    <script src="assets/js/status.js" charset="utf-8"></script>

</head>
<body>
    <div>
		<h2 class="page_title">
			Daily Status
		</h2>
	</div>
    <form ng-submit="addItem()" id="ItemForm" novalidate class="col-md-12">
        <h5><b>Bursts</b></h5>
        <div class="form_div">
            Date: <br/><input id="dateWork" type="date" min="09/10/2015" max="09/17/2015" ng-model="getDate">
        </div>
        <div class="form_div">
            Project :<br/>
            <select ng-model="getPro"
                ng-options="project as project.title for project in projects">
            </select>
        </div>
        <div class="form_div">
            Activity Type:<br/>
            <select ng-model="getType"
                ng-options="type as type.title for type in types">
            </select>
        </div>
        <div class="form_div">
            Time Spent:<br/>
                <input type="number" min="1" max="24" ng-model="gethours">
                <input type="number" min="00" max="45" step="15" ng-model="getMints">
        </div>
        Activity Description :<br/>
            <textarea required id="activity_descr" rows="5" cols="60" ng-model="getDescription"></textarea >
            <br/>
        <input class="btn-add" type="submit" value="ADD">
    </form>
    <div class="my-history">
        <h4><b>My Histrory</b></h4>
    </div>
    <ul class="historyList">
        <li ng-repeat="items in historyItems">
            <div class="hist_date">{{items.date}}</div>
            <div class="hist_desc">{{items.description}}</div>
            <div class="hist_time">{{items.time}} Hour(s)</div>
            <div class="hist_type">{{items.act_type}}</div><br/>
            <div class="hist_pro">{{items.pro_name}}</div><br/>

        </li>
    </ul>
</body>
</html>
